[env]
RUST_BACKTRACE = "1"

[config]
default_to_workspace = false
on_error_task = "dfx-stop"
unstable_features = ["CTRL_C_HANDLING"]

[tasks.dfx-start]
script = '''
#!/usr/bin/env bash
set -eEuo pipefail

cd ic-canister
for i in {1..10}; do dfx stop && break; sleep 1; pkill -9 -f versions || true; done;
dfx start --background --clean
while true; do
    dfx ping local && break;
    sleep 1;
done;
dfx canister create --all
'''

[tasks.format]
dependencies = ["dfx-start"]
install_crate = "rustfmt"
command = "cargo"
args = ["fmt", "--", "--emit=files"]

[tasks.canister]
dependencies = ["dfx-start"]
command = "dfx"
args = ["build", "--all"]
cwd = "./ic-canister/"

[tasks.clippy]
dependencies = ["dfx-start"]
command = "cargo"
args = ["clippy", "--tests"]

[tasks.clippy-canister]
dependencies = ["dfx-start"]
command = "cargo"
args = ["clippy", "--tests", "--target=wasm32-unknown-unknown"]
cwd = "./ic-canister/"

[tasks.build]
dependencies = ["dfx-start"]
command = "cargo"
args = ["build"]


[tasks.test]
dependencies = ["dfx-start", "build", "canister"]

[tasks.dfx-stop]
script = '''
#!/usr/bin/env bash
set -eEuo pipefail

( cd ic-canister && for i in {1..10}; do dfx stop && break; sleep 1; pkill -9 -f versions || true; done; )
'''

[tasks.all]
dependencies = [
    "format",
    "dfx-start",
    "canister",
    "clippy",
    "clippy-canister",
    "build",
    "test",
    "dfx-stop",
]
